# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================
# Build Files
# ==========================
dist/
build/
coverage/
.out/
.next/

# ==========================
# Cache
# ==========================
.cache/
.parcel-cache/
.eslintcache
.vite/
.vscode-test/

# ==========================
# Runtime Data
# ==========================
pids
*.pid
*.seed
*.pid.lock

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
Desktop.ini

# ==========================
# IDE Files
# ==========================
.vscode/*
!.vscode/extensions.json
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# ==========================
# Firebase
# ==========================
.firebase/
firebase-debug.log

# ==========================
# Misc
# ==========================
*.local