
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.bg-primary{
    background-color: rgb(76, 76, 201);
}
*{
    font-family: outfit;    
}
.active hr {
    display: block !important;
}

::-webkit-scrollbar{
    @apply hidden
}
@media (max-width:740px){
    .active p{
        @apply text-white bg-blue-600
    }
}